body {
    background-image: url("./assets/output.gif");
    background-size: 100%;
    background-color: rgb(12,12,12);
    color: whitesmoke;
    font-family: "JetBrains Mono", monospace;
}

main {
    margin-left: 4%;
    font-size: 28px;
}

header {
    /*background: rgba(39, 39, 39, 0.1);
    opacity: 0.7;
    backdrop-filter: blur(50px);
    border-radius: 25px;*/
    background: linear-gradient(
        135deg,
        rgba(46, 46, 46, 0.8),
        rgba(10, 10, 10, 0.6)
        );
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 2px;
}

li img, p {
    margin: 0px 2px 0px 10px;
    height: 40px;
}

main p {
    margin-top: -20px;
}