body {
    background-image: url("./assets/output.gif");
    background-size: 100%;
    background-color: rgb(37, 37, 37); 
    color: whitesmoke;
    font-family: "JetBrains Mono";
}

main {
    margin-left: 5%;
    font-size: 25px;
}

header {
    /*background: rgba(39, 39, 39, 0.2);
    opacity: 0.7;
    backdrop-filter: blur(10px); */
    border: 2px solid red;
    margin-bottom: 4%;
}